@page "/listendagsbillet"
@using festivalsql.Shared.Models;
@inject HttpClient Http

<div class="billet_container">
    <div class="billet_list">
        <h1> Liste over endagsbilletter </h1>

        @if (endags == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Navn</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var endagsbillet in endags)
                    {
                        <tr>
                            <td>@endagsbillet.endags_id</td>
                            <td>@endagsbillet.navn</td>
                            <td>@endagsbillet.email</td>
                            <td>@endagsbillet.telefon.ToString()</td>
                            <td>
                                <button class="btn btn-sm btn-primary" @onclick="@(() => GetEndags(@endagsbillet.endags_id))">Edit</button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" @onclick="@(() => DeleteEndags(@endagsbillet.endags_id))">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@code {
    private List<Endags> endags;

    private Endags newEndags = new Endags();

    private bool edit = false;

    protected override async Task OnInitializedAsync()
    {
        endags = await Http.GetFromJsonAsync<List<Endags>>("api/endags");
    }

    private async Task GetEndags(int id)
    {
        newEndags = await Http.GetFromJsonAsync<Endags>("api/endags/detail/" + id);
        edit = true;
    }

    private async Task SubmitEndags()
    {
        if (edit == false)
        {
            await Http.PostAsJsonAsync<Endags>("api/endags/create", newEndags);
            await OnInitializedAsync();
        }
        else
        {
            await Http.PutAsJsonAsync<Endags>("api/endags/edit", newEndags);
            edit = false;
            await OnInitializedAsync();
        }
    }

    private async Task DeleteEndags(int id)
    {
        await Http.DeleteAsync("api/endags/delete" + id);
        await OnInitializedAsync();
    }
}
