@using miljoefestival.Shared.Models
@page "/edituser/{id}"
@inject HttpClient Http
@inject NavigationManager NavManager

<h2>Rediger</h2>
<h4>Bruger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Fornavn</label>
                <input for="Name" class="form-control" bind="@user.fornavn" />
            </div>
            <div class="form-group">
                <label for="Address" class="control-label">Efternavn</label>
                <input for="Address" class="form-control" bind="@user.efternavn" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Fødselsdato</label>
                <input for="City" class="form-control" bind="@user.foedselsdato" />
            </div>
            <div class="form-group">
                <label for="Age" class="control-label">E-mail</label>
                <input for="Age" class="form-control" bind="@user.email" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label">Username</label>
                <select for="Gender" class="form-control" bind="@user.username">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <input type="button" value="Save" onclick="@UpdateUser()" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public string id { get; set; }

    User user = new User();

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<User>("api/User/Details" + id);
    }

    protected async Task UpdateUser()
    {
        await Http.PutAsJsonAsync("api/User/Edit", user);
        NavManager.NavigateTo("/counter");
    }
}